/* Additional styling for CV */
.timeline {
    position: relative;
    margin: 2rem 0;
    padding-left: 2rem;
    border-left: 2px dotted var(--border-color);
}

.timeline-item {
    position: relative;
    margin-bottom: 0rem;
    padding-left: 4rem;
}

.timeline-marker {
    font-family: monospace;
    font-size: 0.6rem; /* Adjust font size */
    position: absolute;
    left: -3rem; /* Adjust position to avoid overlap */
    background: var(--content-bg-color);
    padding: 0.2rem 0.4rem; /* Adjust padding */
    color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
}

.timeline-item::before {
    content: none; /* Remove ASCII character */
}
